<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Console</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
       
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
            <ul>
                <li><a href="/admin/products">Products</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post" action="/admin/add-product">
            <h4>Add Product</h4>
            <input type="text" name="title" id="" placeholder="Title">
            <input type="text" name="imageUrl" id="" placeholder="Image URL">
            <input type="text" name="description" id="" placeholder="Description">
            <input type="number" name="price" id="" placeholder="Product Price">
            <button type="submit" class="btn">Add Product</button>
        </form>
        <!-- <h3 style="text-align:center; margin: 8px;">Availabe Products..</h3>
        <div class="product-wrapper">
            <% for(let product of products) { %>
                <div class="product">
                    <h4><%=product.title%></h4>
                    <img src="<%=product.imageUrl%>" alt="">
                    <p>Price: <%= product.price%>$</p>
                    <p><%= product.description%></p>
                    <a href="/admin/edit-product?edit=true&id=<%=product._id%>" class="btn">Edit</a>
                    <form action="/admin/delete" method="POST">
                        <button type="submit" name="deleteId" value="<%=product._id%>" class="btn">Delete</button>
                    </form>
                </div>
            <% }%>
        </div> -->
    </main>
</body>
</html>