<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        main{
            /* height: calc(100vh - 3.5rem); */
            padding: 20px;
        }
        .main-container{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
        </nav>
    </header>
   
    <main>
        <div class="main-container">
            <div class="product-wrapper">
                <%for(let product of products) { %>
                    <% product._id = product._id.toString()%>
                    <div class="product">
                        <!-- <p><%=product._id%></p> -->
                        <img src="<%=product.imageUrl%>"/>
                        <h4 class="product-title"><%=product.title%></h4>
                        <p class="product-price">Price: <%= product.price%>$</p>
                        <P class="product-price">Quantity: <%=product.qty%></P>
                        <a href="/product/<%=product._id%>" class="btn">View Details</a>
                        <a href="/cart/delete-product/<%=product._id%>" class="btn">Delete From Cart</a>
                    </div>
                    <% }%>
            </div>   
            <form action="/order" method="post">
                <button type="submit" class="btn">Place Order</button>
            </form>
        </div>
    </main>
    <br>
   
</body>
</html>