<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> shop </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        form .btn{
            font-size: 1rem;
        }
        .page > a{
            color:blue;
        }
    </style>
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
            <ul>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <div class="categories">
                
            </div>
            <div class="product-wrapper">
                <%  for(let product of products) { %>
                    <div class="product">
                        
                        <img src="<%=product.imageUrl%>" alt="">
                        <h4 class="product-title"><%=product.title%></h4>
                        <p class="product-price">Price: <%= product.price%>$</p>
                        <!-- <p><%= product.description%></p> -->
                        <a href="/product/<%=product._id%>" class="btn">View Details</a>
                        <form action="/cart/add-product" method="POST">
                            <button type="submit" class="btn">Add to Cart</button>
                            <input type="hidden" name="productId" value="<%=product._id%>">
                        </form>
                    </div>
                <% }%>
            </div>
            <br><br>
            <p class="page" style="text-align: center;">
                <span class="btn">Prev</span> 
                &nbsp; <a href="?page=1">1</a> &nbsp; 
                &nbsp; <a href="?page=2">2</a> &nbsp; 
                &nbsp; <a href="?page=3">3</a> &nbsp; 
                &nbsp; <a href="?page=4">4</a> &nbsp; 
                <span class="btn">Next</span>
            </p>
        </div>
    </main>
</body>
</html>