<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> shop </title>
    <link rel="stylesheet" href="/style.css">
    <style>
        form .btn{
            font-size: 1rem;
        }
    </style>
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Products</h1>
        <p>List of all products...</p>
        <div class="product-wrapper">
            <%  for(let product of products) { %>
                <div class="product">
                    <h4><%=product.title%></h4>
                    <img src="<%=product.imageUrl%>" alt="">
                    <p>Price: <%= product.price%>$</p>
                    <p><%= product.description%></p>
                    <a href="/product/<%=product.id%>" class="btn">View Details</a>
                    <form action="/cart/add-product" method="POST">
                        <button type="submit" class="btn">Add to Cart</button>
                        <input type="hidden" name="productId" value="<%=product.id%>">
                    </form>
                </div>
            <% }%>
        </div>
    </main>
</body>
</html>